<!doctype html>
<html lang="es">
  <head>
		<%- partial('_partial/head') %>
  </head>

  <body>
		<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
		<%- partial('_partial/navigation') %>
		<main id="content" role="main" >
		  <%- body %>          
		</main>
		<%- partial('_partial/footer') %>
		<%- partial('_partial/closure') %>
  </body>
</html>