<!-- .footer -->
<footer class="footer" >
	<div class="container-fluid pb-3">
		<!-- Separator: first row -->
		<div class="row">
			<div class="col">
				<hr>
			</div>
		</div>
		<!-- Content: second row -->
		<div class="row">
			<!-- 1. Address block -->
			<div class="col-12 col-sm-6 col-lg-8 ">
				<p class="info">
					<addresss class="vcard">
						<span class="fn org"><b><%= config.title %></b></span>
						<span class="adr"><%= theme.address %></span>
						<span><a href="mailto:<%= theme.email %>"class="email"><%= theme.email %></a></span>
						<span class="tel"><%= theme.tlf01 %> / <%= theme.tlf02 %></span>
					</addresss>
				</p>
			</div>
			<!--2.  Social links block -->
			<div class="col-12 col-sm-6 col-lg-4 mb-1">
				<% if(site.data.social) {%>
				  <ul class="links list-inline float-left float-sm-right">
				  	<% for (link in site.data.social) { %>
					  	<li class="list-inline-item ml-0 ml-sm-2"><a href="<%= site.data.social[link] %>" title="Visit our <%= link %> page"><%= link %></a></li>
						<% } %>
				  </ul>
			  <% } %>
			</div>
		</div>	
	</div>
</footer>
<!-- !footer -->

