<!-- .footer -->
<footer class="footer" >
	<div class="container-fluid pb-3">
		<!-- Separator: first row -->
		<div class="row">
			<div class="col">
				<hr>
			</div>
		</div>
		<!-- Content: second row -->
		<div class="row">
			<!-- 1. Address block -->
			<div class="col-12 col-md-8 mb-3">
				<p class="info">
					<span><b><%= config.title %></b></span>
					<span><%= theme.address %></span>
					<span><a href="mailto:<%= theme.email %>"><%= theme.email %></a></span>
					<span><%= theme.tlf01 %> / <%= theme.tlf02 %></span>
				</p>
			</div>
			<!--2.  Social links block -->
			<div class="col-12 col-md-4 mb-1">
				<% if(site.data.social) {%>
				  <ul class="links list-inline float-right float-md-right">
				  	<% for (link in site.data.social) { %>
					  	<li class="list-inline-item ml-3"><a href="<%= site.data.social[link] %>" title="Visit our <%= link %> page"><%= link %></a></li>
						<% } %>
				  </ul>
			  <% } %>
			  <!-- © info is hidden by default -->
				<p class="copy">
			    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
			  </p>			
			</div>
		</div>	
	</div>
</footer>
<!-- !footer -->

