<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%
    var title = page.title;
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <!-- Metas -->
    <%- autoCanonical(config, page) %>

    <!-- Bootstrap CSS -->
    <%- css('assets/vendor/bs4/css/bootstrap.min') %>
    <%- css('assets/css/style') %>
  </head>
  <body>

