<header class="container-fluid">
	<nav class="navbar navbar-light py-4 navbar-expand d-flex flex-row justify-content-between align-items-start px-0">
	  <a class="navbar-brand align-self-start" href="<%- url_for() %>" title="<%= config.title %>">
	    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="50" height="50" alt="<%= config.title %>">
	  </a>
		<% if(site.data.menu) {%>
		  <div class="collapse navbar-collapse align-self-start">
			  <ul class="navbar-nav ml-auto">
			  	<% for (link in site.data.menu) { %>
				  	<li class="ml-2 nav-item <%- is_current(site.data.menu[link]+'/index.html') ? 'active' : '' %>">
				  		<a class="nav-link" href="<%= config.root %><%= site.data.menu[link] %>" title="Go to <%= link %> page"><%= link %><%- is_current(site.data.menu[link]+'/index.html') ? '<span class="sr-only">(current)</span>' : '' %></a>
				  	</li>
					<% } %>
			  </ul>
		 	</div>
	  <% } %>
	</nav>
</header>