<header class="container-fluid">
	<nav class="navbar fixed-top navbar-light py-5 navbar-expand d-flex flex-row justify-content-between align-items-start">
	  <a class="navbar-brand align-self-start" href="<%- url_for() %>" title="<%= config.title %>">
	    <img id="logo" src="<%= config.root %>media/theme/logo.gif" width="220" height="146"alt="<%= config.title %>">
	    <img id="logo-mobile" src="<%= config.root %>media/theme/logo-mobile.gif" width="50" height="60" alt="<%= config.title %>">
	  </a>
		<% if(site.data.menu) {%>
		  <div class="collapse navbar-collapse align-self-start">
			  <ul class="navbar-nav ml-auto">
			  	<% for (link in site.data.menu) { %>
				  	<li class="ml-2 nav-item <%- is_current(site.data.menu[link]+'/index.html') ? 'active' : '' %>">
				  		<a class="nav-link" href="<%= config.root %><%= site.data.menu[link] %>" title="Go to <%= link %> page"><%= link %><%- is_current(site.data.menu[link]+'/index.html') ? '<span class="sr-only">(current)</span>' : '' %></a>
				  	</li>
					<% } %>
			  </ul>
		 	</div>
	  <% } %>
	</nav>
</header>