<% if (post.path){ %>
  <% var i = index+1; %>
  <!-- Add a custom color set to this -->
  <% if (post.bgColor){ %> 
    <style type="text/css">
      #post-<%= i %> .post-preview-wrapper:hover .post-preview-media {
          background-color: <%= post.bgColor %> ;
      }
    </style>
  <% } %> 
  <!-- Post: preview -->
  <div id="post-<%= i %>" class="post-preview <%- post.vimeoId ? 'post-preview-video' : '' %> d-block col-12 col-sm-6 col-xl-4" >
    <div class="post-preview-wrapper">
      <div class="post-preview-media">
        <% if (post.vimeoId){ %>          
          <video muted="muted" preload="preload" cover="<%= url_for(post.thumbnailUrl[2]) %>">
            <source src="<%= url_for(post.thumbnailUrl[0]) %>" type="video/mp4">
            <source src="<%= url_for(post.thumbnailUrl[1]) %>" type="video/webm">              
          </video>
          <a href="<%- url_for(post.path) %>" title="<%= post.title %>"><img src="<%= url_for(post.thumbnailUrl[2]) %>" class="img-fluid" alt="<%= post.title %>"></a>
        <% } else {%>
          <a href="<%- url_for(post.path) %>" title="<%= post.title %>"><img src="<%= url_for(post.thumbnailUrl) %>" class="img-fluid" alt="<%= post.title %>"></a>
        <% } %> 
      </div>
      <div class="post-preview-info">
          <h2 class="post-preview-title">
              <a href="<%- url_for(post.path) %>" title="<%= post.title %>" class="stretched-link" <% if (post.textColor){ %> style="color: <%= post.textColor %> !important" <% } %>><%= post.title %></a>
          </h2>
          <% if (post.subTitle){ %>
            <h3 class="post-preview-subtitle" <% if (post.textColor){ %> style="color: <%= post.textColor %> !important" <% } %>><%= post.subTitle %></h3>
          <% } %>
          <div class="post-preview-tags">
            <% post.tags.each(function(tag, j) { %>
                <% if (post.tags.length==j+1){ %>
                  <span <% if (post.textColor){ %> style="color: <%= post.textColor %> !important" <% } %>><%- tag.name %></span> 
                <% } else { %>
                  <span <% if (post.textColor){ %> style="color: <%= post.textColor %> !important" <% } %>><%- tag.name %>, </span> 
                <% } %> 
            <% }); %> 
          </div>     
      </div>
    </div>
  </div>
<% } %>